.container {
  width: 1200px;
  margin: auto;
}

header {
  display: inline-block;
  height: 70px;
  width: 1200px;
  left: 40px;
  background: #FFFFFF;
}

.logo {
  right: 82.58%;
  bottom: 0%;
  left: 70px;
}


.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 17px;
  gap: 34px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  height: 66px;
  width: 390px;
  left: 239px;
  color: #000000;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 84px;
  height: 66px;
  right: 249.87px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.search {
  width: 42px;
  height: 66px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.favorite {
  width: 42px;
  height: 66px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.total-favorite {
  text-decoration: none;
  background: #7DB54F;
  border-radius: 10px;
  position: absolute;
  width: 19.05px;
  height: 13px;
  left: calc(50% - 19.05px/2 + 13px);
  top: calc(50% - 13px/2 - 9px);
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}

.button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 160px;
  background: #756157;
  border-radius: 4px;
  height: 20px;
  left: 15px;
  right: 15px;
  top: calc(50% - 20px/2 + 0.5px);
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.hero-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

li {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

h2 .infrastructure,
.type-of-house {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.infrastructure,
.type-of-house,
p {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.price,
.wrapper,
.span {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.main-hotels h2 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.type-of-hotel {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.icon-table {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.icon-slideshow {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.icon-list {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel {
  width: 250px;
  border: solid;
}

.hotel h3 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel p {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-about {
  background-color: #756157;
  border-radius: 4px;
  color: white;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-favorite {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.stars {}

.rating {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}





.wrapper {
  width: 300px;
  padding: 15px;
  background-color: grey;
  color: white;
}

.range {
  position: relative;
}

.range__bar {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__bar-inner {
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.range__button {
  position: absolute;
  top: 50%;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin-top: -10px;
  height: 20px;
  width: 20px;

  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  transition: all 0.25s ease;
}

.range__button:after {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  background-color: #ababab;
  border-radius: 50%;
}

.range__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.range__button--right {
  left: 80%;
}

.pages li:not(:first-child) {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  width: 70px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 70px;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

li:first-child {
  width: 70px;
}

.selected-page {
  background: #F2F2F2;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

footer {
  text-align: center;
}

.subscription {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.footer-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

input.sub {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.sub {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.vk {}

.tg {}

.yt {}

.number {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
