body {
    position: relative;
    width: 1280px;
    height: 3315px;
    
    background: #F2F2F2;
}

header {}

.logo {
    

}

main {
    

}

.img-index-background {
    
}

.navigation-1 {
    

}

.button {
    text-transform: uppercase;  

}


.hero {
    text-align: center;
    text-transform: uppercase;     
}

.hero-description {
    text-align: center;

}

.wonder {
       
}

wonder-description {

}

footer {
    text-align: center;    
}

.subscribe {
    text-align: center;   
}

.footer-description {
    text-align: center;   
}

.vk {
    
}

.tg{
    
}

.yt{
    
}

.number {
    
}