html {
  height: 100%;
}

@font-face {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(fonts/ptsans-400.woff2) format(woff2);
}

@font-face {
  font-family: "PT Serif";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(fonts/ptsans-700.woff2) format(woff2);
}

body {
  background: #E5E5E5;
  margin: 0;
  display: flex;
}

.container {
  height: 3315px;
  width: 1280px;
  margin: auto;
  background: #F2F2F2;
}

header {
  position: relative;
  display: inline-block;
  height: 65px;
  width: 1200px;
  margin-left: 40px;
  background: #FFFFFF;
}

.logo {
  position: relative;
  height: 70px;
  width: 139px;
  left: 70px;
}

.main-navigation {
  position: absolute;
  padding-top: 20px;
  padding-left: 239px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  height: 65px;
  width: 390px;
  top: 0;
  color: #000000;
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
}

.nav-hover {
  padding: 13px;
}

.nav-hover:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #756257;
  padding-bottom: 18px;
}

.user-navigation {
  position: absolute;
  width: 84px;
  height: 66px;
  top: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.search {
  background-image: url(images/search.svg);
  position: absolute;
  width: 18.05px;
  height: 18.1px;
  top: 23.45px;
  left: 878.11px;
}

.favorite {
  position: absolute;
  width: 18.05px;
  height: 18.1px;
  top: 23.45px;
  left: 919.65px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.total-favorite {
  text-decoration: none;
  background: #7DB54F;
  border-radius: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 932.13px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}


.button {
  position: absolute;
  display: block;
  height: 37px;
  width: 160px;
  left: 970px;
  top: 14px;
  font-weight: 160;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  background: #756157;
  border-radius: 4px;
  align-items: center;
  color: #FFFFFF;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

main {
  position: relative;
  padding-top: 0;
  margin-left: 40px;
  top: 0;
  padding: 0;
  width: 1200px;
  height: 1615px;
  background-color: antiquewhite;
}

.hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 1200px;
  height: 403px;
  background-color: aqua;
}
