@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "PT Sans", serif;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.logo {
  position: absolute;
  height: 70px;
  width: 139px;
  left: 70px;
  top: 0;
  z-index: 1;
}

.main-navigation {
  padding-left: 186px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  display: flex;
}

.main-navigation a {
  text-decoration: none;
  color: #000000;
  padding: 20px 0;
  margin-right: 34px;
}

.nav-active {
  position: relative;
}

.nav-active:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #756257;

  position: absolute;
  bottom: 0;
  left: 0;
}

.user-navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;

  display: flex;
  align-items: center;
}

.search {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 42px;
  height: 18px;
}

.favorite {
  width: 42px;
  height: 17px;
  background-image: url(../images/favorite.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.favorite span {
  text-decoration: none;
  background: #7db54f;
  border-radius: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -12px;
  right: -2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: #ffffff;
  padding-top: 2.5px;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  background: #756157;
  border-radius: 4px;
  color: #ffffff;
  padding: 9px 15px;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.header-button {
  width: 160px;
  margin-left: 20px;
}

.main {
  position: relative;
  background: #ffffff;
  flex-grow: 1;
}

.divider {
  background-image: url(../images/index-background.jpg);
  position: relative;
  padding: 51px 30px 82px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider:after {
  content: "";
  background-image: url(../images/hero-bottom.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
}

.hero {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.main-title {
  margin-top: 63px;
  margin-left: auto;
  margin-right: auto;
  height: 72px;
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hero-description {
  position: relative;
  height: 26px;
  padding-top: 8px;
  padding-bottom: 94px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.main-subtitle {
  width: 230px;
  height: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.city {
  position: relative;
  background: #82b3d3;
  width: 33.33%;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.city-title {
  width: 230px;
  height: 56px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.top-title {
  margin-top: 92px;
  margin-left: 85px;
  width: 230px;
  height: 56px;
  text-align: center;
}

.number-title {
  margin-top: 30px;
  margin-left: 85px;
  height: 21px;
  width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.block-bottom {
  margin-top: 30px;
  margin-left: 85px;
  width: 230px;
  height: 63px;
}

.city-img {
  position: relative;
  width: 66.66%;
}

.city-img img {
  display: block;
}

.row-title {
  margin-top: 30px;
  margin-left: 85px;
  width: 230px;
  height: 28px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.row-bottom {
  margin-top: 29px;
  margin-left: 85px;
  margin-bottom: 81px;
  width: 230px;
  height: 63px;
}

.house {
  position: relative;
  width: 33.33%;
  background: rgba(131, 179, 211, 0.12);
}

.house-img {
  position: relative;
  width: 75px;
  height: 72px;
  margin-top: 85px;
  margin-left: 163px;
}

.food {
  position: relative;
  width: 33.33%;
}

.food-img {
  position: relative;
  width: 74px;
  height: 70px;
  margin-top: 81px;
  margin-left: 163px;
}

.gifts {
  position: relative;
  width: 33.33%;
  background: rgba(131, 179, 211, 0.12);
}

.gifts-img {
  position: relative;
  width: 64px;
  height: 76px;
  margin-top: 78px;
  margin-left: 168px;
}

img {
  display: block;
}

.img-devil-bridge {
  position: relative;
  display: block;
  width: 66.66%;
}

.devil-bridge {
  position: relative;
  width: 33.33%;
  color: #ffffff;
  background: #82b3d3;
}

.second-row-top-title {
  margin: 103px auto 0 auto;
  width: 230px;
  height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.second-row-title {
  margin-top: 26px;
  height: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.second-row-bottom {
  margin-top: 30px;
  margin-left: 85px;
  margin-bottom: 102px;
  width: 230px;
  height: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.square {
  position: relative;
  width: 33.33%;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.road {
  position: relative;
  width: 33.33%;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.road .second-row-top-title {
  width: 200px;
}

.grand-canyon {
  position: relative;
  width: 33.33%;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.grand-canyon .second-row-top-title {
  width: 180px;
}

.wonder {
  width: 100%;
}

.wonder-title {
  margin-top: 91px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.wonder-description {
  width: 592px;
  height: 52px;
  margin-top: 29px;
  margin-left: 304px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.wonder-description span {
  display: block;
}

.wonder-description span:nth-child(2) {
  margin-left: -13px;
}

.wonder-search {
  position: relative;
  display: inline-block;
  margin-top: 34px;
  margin-left: 313px;
  width: 574px;
  height: 60px;
  padding: 12px 15px;
  margin-bottom: 93px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
}

.wonder-search:hover {
  background: #615048;
}

.wonder-search:focus {
  background: #615048;
}

.wonder-search:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.footer {}

.subscription {
  background-image: url(../images/footer-sub.svg);
  padding-bottom: 95px;
  padding-top: 94px;
}

.sub-title {
  width: 404px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.sub-description {
  margin: 35px auto 0 auto;
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.footer-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.form {
  margin: 45px auto 0 auto;
}

.form form {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}

.input {
  position: relative;
  width: 600px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border-left: 0;
  border-style: none;
  padding: 20px 21px;
  flex-grow: 1;
}

.input:active,
.input:hover,
.input:focus {
  outline: 0;
  outline-offset: 0;
}

.submit {
  display: inline-block;
  position: relative;
  margin-top: 0;
  width: 200px;
  flex-shrink: 0;
  background: #82b3d3;
  border-style: none;
  border-radius: 0 10px 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-family: inherit;
}

.submit:hover {
  background: #68a2ca;
  cursor: pointer;
}

.submit:focus {
  background: #68a2ca;
}

.info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.vk {
  position: relative;
  margin-left: 81px;
  width: 24px;
  height: 14px;
}

.tg {
  position: relative;
  margin-left: 28px;
  width: 22px;
  height: 17px;
}

.yt {
  position: relative;
  margin-left: 27px;
  width: 24px;
  height: 14px;
}

.socials {
  display: flex;
  margin-top: 55px;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.socials a {
  color: #83b3d3;
}

.socials a:hover {
  color: #68a2ca;
}

.socials a:focus {
  color: #68a2ca;
}

.socials a:active {
  color: rgba(104, 162, 202, 0.3);
}

.number {
  position: relative;
  margin-top: 44px;
  margin-left: 249px;
  width: 331px;
  height: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.number:hover {
  color: #756157;
}

.number:focus {
  color: #756157;
}

.number:active {
  background: rgba(117, 97, 87, 0.3);
}

.logo-academy {
  margin-top: 49px;
  margin-left: 235px;
  color: #000000;
}

.logo-academy:hover {
  color: #756157;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/main-catalog-background.svg);
  list-style: none;
  padding: 35px 70px 39px 70px;
  color: #ffffff;
}

.catalog-h1 {
  padding-top: 0;
  padding-left: 0;
  width: 100%;
  height: 78px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  text-align: left;
  text-transform: none;
  color: #ffffff;
}

.hero-catalog {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 10px;
  padding-left: 0;
  width: 100%;
  height: 21px;
  margin: 0;
}

.hero-link {
  width: 12px;
  height: 11.7px;
  padding-top: 0;
  padding-left: 0;
  margin-top: 4px;
  background-image: url(../images/hero-link.svg);
}

.hero-link:hover {
  width: 12px;
  height: 11.7px;
  background-image: url(../images/hero-link-hover.svg);
}

.hero-link:active {
  width: 12px;
  height: 11.7px;
  background-image: url(../images/hero-link-hover.svg);

}

.hero-nav:hover {
  color: rgba(255, 255, 255, 0.3);
}

.hero-nav:active {
  color: rgba(255, 255, 255, 0.3);
}

.hero-point {
  padding-top: 0;
  padding-left: 10px;
}

.hero-nav {
  padding-top: 0;
  padding-left: 10px;
  width: 73px;
  height: 21px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.title-settings {
  margin-top: 0;
  margin-left: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
}

.checkbox-list {
  padding-top: 12px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wireless-filter__item {
  margin: 11px 0;
}

.wireless__input + label {
  position: relative;
  padding-left: 37px;
  font-size: 16px;
  line-height: 19px;
}

.wireless__input + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  opacity: 0.2;
  position: absolute;
  top: -3px;
  left: 0;
  box-sizing: border-box
}

.wireless__input:checked + label:before {
  opacity: 1;
}

.wireless__input:checked + label:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3F5E72;
  position: absolute;
  left: 6px;
  top: 3px;
}

.wireless_circle + label:before {
  border-radius: 50%;
}


.infra {
  width: 150.43px;
  height: 149px;
  margin-top: 50px;
  margin-left: 0;
  text-align: left;
}

.infra-check-box {
  text-align: left;
}

.type {
  margin-top: 50px;
  margin-left: 70px;
  text-align: left;
}

.settings-price {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.settings-wrapper {
  margin-top: 29px;
  margin-left: 209px;
  width: 287px;
  height: 48px;
}

.wrapper {
  padding-top: 14px
}

.catalog-filter-label {
  display: flex;
}

.range-wrapper-inputs {
  display: flex;
}

.range-input {
  margin: 0;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  background-color: transparent;
  font: inherit;
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  outline: 3px solid #81b3d2;
  box-shadow: inset 0 0 0 3px #81b3d2;
  border: 2px solid #ffffff;
}

.range-input:active {
  background-color: #756257;
  border: 2px solid #ffffff;
  outline: none;
  box-shadow: none;
}

.input-min-price {
  border-radius: 4px 0 0 4px;
  padding: 14px 0 10px 17px;
  border-right: 1px solid #ffffff;
  width: 143px;
}

.input-price-from {
  display: block;
  margin-left: -31px;
  padding: 13px 14px 13px 0;
  color: rgba(255, 255, 255, 0.3);
}

.input-price-before {
  display: block;
  margin-left: -37px;
  padding: 13px 19px 13px 0;
  color: rgba(255, 255, 255, 0.3);
}

.input-max-price {
  border-radius: 0 4px 4px 0;
  padding: 14px 0 10px 16px;
  border-left: 1px solid #ffffff;
  width: 144px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.wrapper-line {
  padding-top: 29px;
}

.range {
  position: relative;
}

.range__bar {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__bar-inner {
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.range__button {
  position: absolute;
  top: 50%;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin-top: -10px;
  height: 20px;
  width: 20px;

  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  transition: all 0.25s ease;
}

.range__button:after {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  background-color: #ababab;
  border-radius: 50%;
}

.range__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.range__button--right {
  left: 75%;
}

.catalog-filter-label:active {
  background: #756257;
}

.settings-form {
  margin: 109px 1px 0 auto;
}

.apply {
  display: inline-block;
  position: relative;
  margin-top: 0;
  width: 160px;
  height: 48px;
  background: #82b3d3;
  border-style: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.apply:hover {
  background: #68A2CA;
}

.apply:focus {
  background: #68A2CA;
}

.apply:active {
  color: rgba(255, 255, 255, 0.3);
  background: #7DB54F;
}

.reset {
  margin-top: 21px;
  margin-left: 48px;
  width: 65px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.reset:hover {
  color: #FFFFFF;
  opacity: 0.3;
}

.reset:focus {
  border: 3px solid #83B3D3;
}

.reset:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.view:hover,
.view-icon,
.view-list:hover {
  border-color: #000000;
}

.view:hover,
.view-icon,
.view-list:focus {
  border-color: #000000;
}

.top-main {
  display: flex;
  flex-wrap: wrap;
}

.main-head {
  margin-top: 62px;
  margin-left: 72px;
  width: 338px;
  height: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select {
  margin-top: 55px;
  margin-left: 191px;
  width: 290px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.list {
  margin-top: 56px;
  margin-left: 79px;
  width: 160px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 8px;

}

.view {
  height: 48px;
  width: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.icon-table,
.icon-slideshow,
.icon-list {
  width: 50px;
  height: 48px;
  padding: 15px;
}

.catalog-hotels {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 58px;
  margin-top: 56px;
}

.amara-resort,
.villas-at-poco,
.desert-quali,
.greenTree-inn {
  display: flex;
  margin-top: 19px;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
  width: 340px;
  height: 438px;
  background: #ffffff;
}

.amara-hotel,
.green-tree-hotel {
  margin-left: 93px;
}

.card-title {
  margin-top: 17px;
  margin-left: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-text {
  display: flex;
  width: 300px;
  height: 21px;
  margin-top: 16px;
  margin-left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.text-hotel {
  margin-top: -9px;
}

.text-price {
  margin-top: -8px;
  margin-left: 81px;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.button-about {
  margin-top: 7px;
  padding: 19px 26px;
  width: 140px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
}

.button-favorite {
  display: flex;
  margin-top: 7px;
  padding: 15px 20px;
  width: 140px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.button-favorite-active {
  background: #7db54f;
  padding: 15px 18px;
}

.catalog-raiting {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
  width: 300px;
  height: 37px;
  margin-top: 15px;
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 140px;
}

.rating {
  display: flex;
  margin-top: 17px;
  padding: 20px 21px;
  width: 140px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
}

.catalog-bottom {
  position: absolute;
  width: 1055px;
  height: 0;
  left: 147px;
  top: 1570px;
  border: 1px solid #e6e6e6;
  transform: rotate(180deg);
}

.catalog-pages {
  width: 100%;
  display: flex;
}

.pages {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}

.page-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 33px;
}

.page-li {
  height: 60px;
  width: 60px;
  padding-left: 21px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  list-style: none;
  color: #ffffff;
}

.selected-page {
  color: #000000;
  background: #F2F2F2;
  border-color: #F2F2F2;
}

.page-number-of-hotel {
  display: flex;
  flex-direction: row;
  margin-top: 121px;
  margin-left: 270px;
  width: 386px;
  height: 49px;
  gap: 70px;
}

.page-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.select-page {
  width: 160px;
  margin-top: 0;
  margin-left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 15px;
}

.brownSB:hover {
  background: #615048;
}

.brownSB:-focus {
  background: #615048;
}

.brownSB:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.blueSB:hover {
  background: #68A2CA;
}

.blueSB:focus {
  background: #68A2CA;
}

.blueSB:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorite-active:hover {
  background: #6C9E42;
}

.button-favorite-active:focus {
  background: #6C9E42;
}

.button-favorite-active:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.sub-catalog {
  background-color: #ffffff;
}











.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  font-family: 'PT Sans';
  font-style: normal;
}

.modal {
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  position: relative;
  box-sizing: border-box;
}

.modal-container-close {
  display: none;
}

.modal-content {
  margin: 70px;
}

.modal-modal-auth {
  width: 715px;
  padding: 61px 55px 70px 55px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 10px;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: 54px;
  margin-right: 70px;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: none;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 59px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field-name {
  font-weight: 700;
  font-size: 18px;
  align-self: center;
  padding-top: 4px;
  padding-left: 3px;
  display: block;
  position: relative;
}

.adult {
  padding-right: 71px;
}

.children {
  padding-right: 54px;
  padding-top: 16px;
  margin-left: -2px;
}

.inform-text {
  color: #ff5757;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  display: block;
  margin-left: 157px;
  margin-bottom: 8px;
}

.departure-date-text {
  color: #333333;
}

.date-field {
  width: 420px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 19px;
  height: 50px;
  background: #f2f2f2 url(../images/modal-date.svg) no-repeat center right 19px;
}

.field {
  font-family: inherit;
}

.field:active {
  background: #ffffff;
  border: 2px solid #000000;
  outline: none;
}

.container-field-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 43px;
}

.children-field,
.adult-field {
  width: 133px;
  height: 50px;
  -webkit-appearance: textfield;
  appearance: textfield;
  border-radius: 4px;
  background-color: #f2f2f2;
  text-align: center;
}

.children-field.field::-webkit-outer-spin-button,
.children-field.field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.adult-field::-webkit-outer-spin-button,
.adult-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.container-number {
  position: relative;
  display: flex;
}

.number-minus {
  width: 25px;
  height: 25px;
  padding: 0 6px;
  padding-bottom: 6px;
  display: block;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 14px;
  cursor: pointer;
}

.number-plus {
  padding: 6px;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 13px;
  left: 95px;
  cursor: pointer;
}

.minus {
  fill: rgba(0, 0, 0, 0.3);
}

.plus {
  fill: rgba(0, 0, 0, 0.3);
}

.minus:hover,
.plus:hover {
  fill: #000000;
}

.number-minus:focus,
.number-plus:focus {
  fill: #000000;
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.number-minus:active,
.number-plus:active {
  outline: none;
}

.minus:active,
.plus:active {
  fill: rgba(0, 0, 0, 0.3);
}

.button-form-search {
  width: 575px;
  height: 60px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  border-radius: 10px;
}

.container-number:nth-child(2) {
  margin-right: 56px;
}

.tooltip {
  z-index: 1;
}

.tooltip-toggle {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83b3d3;
  position: absolute;
  bottom: 181px;
  left: 468px;
  cursor: pointer;
}

.tooltip-icon {
  width: 1px;
  height: 9px;
  padding: 8px 12px;
  margin-left: 12px;
  margin-top: 7px;
  display: block;
  fill: #ffffff;
  background-image: url(../images/modal-info.svg);
  background-repeat: no-repeat;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-toggle:hover + .tooltip-text {
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 15px 18px 19px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: none;
  width: 256px;
  box-sizing: border-box;
  position: absolute;
  top: 397px;
  right: 105px;
  min-height: 110px;
}

.tooltip-text::before {
  position: absolute;
  top: -8px;
  left: 116px;
  height: 9px;
  width: 19px;
  content: "";
  background: url(../images/traingle.svg) no-repeat;
}

.button-blue {
  background-color: #83b3d3;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.button-blue:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
